---
interface Props {
  total: number;
}

const { total } = Astro.props;
---

<h2 class="text-xl font-semibold text-gray-900 mb-6" id="results-counter">
  {total === 0 ? 'No se encontraron tarjetas' : 
    `Hay ${total} tarjeta${total === 1 ? '' : 's'} de crédito disponible${total === 1 ? '' : 's'}`}
</h2>

<script>
  const counter = document.getElementById('results-counter');
  
  const updateCount = (event: CustomEvent) => {
    if (counter) {
      const count = event.detail.count;
      counter.textContent = count === 0 ? 'No se encontraron tarjetas' :
        `Hay ${count} tarjeta${count === 1 ? '' : 's'} de crédito disponible${count === 1 ? '' : 's'}`;
    }
  };

  document.addEventListener('update-counter', updateCount as EventListener);
</script>