---
import Card from './Card.astro';
import Breadcrumb from '../Breadcrumb.astro';

interface Props {
  breadcrumb?: {
    label: string;
    href: string;
    current?: boolean;
  }[];
}

const { breadcrumb } = Astro.props;

const cards = [
  {
    image: './images/visa-logo.svg',
    title: 'Mejores tarjetas',
  },
  {
    image: './images/visa-logo.svg',
    title: 'CardMatch™',
  },
  {
    image: './images/visa-logo.svg',
    title: 'Mejores beneficios',
  },
  {
    image: './images/visa-logo.svg',
    title: 'Sin costo de mantención',
  },
];
---

<section class="bg-black text-white">
  {breadcrumb && <Breadcrumb items={breadcrumb} textColor="text-white" />}
  <div class="container mx-auto px-4 text-center py-8">
    <!-- Mensaje superior -->
    <div class="bg-red-800 text-sm py-2 px-4 rounded-full inline-block mb-6">
      ¿Buscando una tarjeta de crédito? Mira los ganadores de nuestro ranking 2025
    </div>

    <!-- Título y subtítulo -->
    <h1 class="text-3xl md:text-4xl font-bold mb-4">Tarjetas de Crédito</h1>
    <p class="text-base md:text-lg font-light">
      Compara las mejoras tarjetas por categoría. Lee las recomendaciones y opiniones de nuestros expertos.
    </p>
    <p class="text-base md:text-lg font-light mb-8">
      Siéntete seguro de que tomarás la mejor decisión.
    </p>

    <!-- Contenedor para las cards -->
    <div class="flex gap-4 overflow-x-auto px-6 py-4 scrollbar-hide md:overflow-x-hidden md:justify-center md:flex-wrap">
      {cards.map((card) => (
        <Card image={card.image} title={card.title} />
      ))}
    </div>
  </div>
</section>

<style is:inline>
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
</style>