---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import ProductCategories from '../components/home/ProductCategories.astro';
import FeaturedCards from '../components/home/FeaturedCards.astro';
import WhyUs from '../components/home/WhyUs.astro';
import { getTarjetas } from '../lib/contentful';

const tarjetas = await getTarjetas();
---

<Layout>
  <main>
    <Hero />
    <ProductCategories />
    <FeaturedCards tarjetas={tarjetas} />
    <WhyUs />
  </main>
</Layout>