---
import MenuItem from './MenuItem.astro';

const currentPath = Astro.url.pathname;
---

<nav class="hidden md:flex space-x-2">
  <ul class="flex space-x-2">
    <MenuItem href="/" current={currentPath === "/"}>
      INICIO
    </MenuItem>
    <MenuItem 
      href="/tarjetas-de-credito" 
      current={currentPath.startsWith("/tarjetas-de-credito")}
    >
      TARJETAS DE CRÉDITO
    </MenuItem>
    <MenuItem 
      href="/banco" 
      current={currentPath.startsWith("/banco")}
    >
      BANCOS
    </MenuItem>
    <MenuItem 
    href="/viajes" 
    current={currentPath.startsWith("/viajes")}
  >
    VIAJEROS
  </MenuItem>
  <MenuItem 
  href="/billetera" 
  current={currentPath.startsWith("/billetera")}
>
  BILLETERA
</MenuItem>
  </ul>
</nav>