---
import type { Benefit } from '../lib/contentful/types';
import BenefitCard from './BenefitCard.astro';

interface Props {
  benefits: Benefit[];
}

const { benefits } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  {benefits.map((benefit) => <BenefitCard benefit={benefit} />)}
</div>