---
import Layout from '../../layouts/Layout.astro';
import CardHeader from '../../components/cards/CardHeader.astro';
import CardMainContent from '../../components/cards/CardMainContent.astro';
import { getCreditCardBySlug, getCreditCards } from '../../lib/contentful/queries/creditCard';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (async () => {
  const cards = await getCreditCards();
  return cards.map(card => ({
    params: { slug: card.fields.slug },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const card = await getCreditCardBySlug(slug);

if (!card) {
  return Astro.redirect('/404');
}
---

<Layout>
  <main class="min-h-screen bg-gray-50">
    <CardHeader card={card} />
    <CardMainContent card={card} />
  </main>
</Layout>