---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Breadcrumb from '../components/Breadcrumb.astro';

interface Props {
  title?: string;
  description?: string;
  breadcrumb?: {
    label: string;
    href: string;
    current?: boolean;
  }[];
}

const { 
  title = "Decisiones Financieras con Confianza!",
  description = "Encuentra y compara los mejores productos financieros. Análisis por expertos, beneficios, requisitos y más.",
  breadcrumb 
} = Astro.props;

const showBreadcrumb = breadcrumb && Astro.url.pathname !== '/';
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-HBFGJ0MTXM"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HBFGJ0MTXM');
</script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | Heey!</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <div class="w-full">
      {showBreadcrumb && <Breadcrumb items={breadcrumb} />}
    </div>
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>