---
import Layout from '../../layouts/Layout.astro';
import TarjetaDetail from '../../components/tarjetas/TarjetaDetail.astro';
import { getTarjetas } from '../../lib/contentful/';

export async function getStaticPaths() {
  const tarjetas = await getTarjetas();
  
  return tarjetas.map(tarjeta => ({
    params: { slug: tarjeta.slug },
    props: { tarjeta },
  }));
}

const { tarjeta } = Astro.props;
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    <div class="max-w-6xl mx-auto">
      <TarjetaDetail tarjeta={tarjeta} />
    </div>
  </main>
</Layout>