---
import Layout from '../../layouts/Layout.astro';
import TarjetaCard from '../../components/tarjetas/TarjetaCard.astro';
import TarjetaWelcome from '../../components/tarjetas/TarjetaWelcome.astro';
import Filters from '../../components/tarjetas/Filters.astro';
import { getTarjetas, getBancos } from '../../lib/contentful';

const [tarjetas, bancos] = await Promise.all([
  getTarjetas(),
  getBancos()
]);
---

<Layout>
  <TarjetaWelcome />
  <main class="container mx-auto px-4 py-8">
    <Filters tarjetas={tarjetas} bancos={bancos} />
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      {tarjetas.map((tarjeta) => (
        <TarjetaCard tarjeta={tarjeta} />
      ))}
    </div>
  </main>
</Layout>